<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {% block title %}{% endblock title %} Swaad sadan - Home Page</title>
    <!-- Stylesheets -->
    <link href=" {% static 'food/css/bootstrap.css' %} " rel="stylesheet">
    <script src="{% static 'food/js/jquery.js' %}"></script>
    <script src="{% static 'food/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'food/css/style.css' %}" rel="stylesheet">
    <!-- Color File -->
    <link href="{% static 'food/css/color.css' %}" rel="stylesheet">
    <!-- Responsive File -->
    <link href="{% static 'food/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <link rel="shortcut icon" href="{% static 'food/css/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'food/css/images/favicon.png' %}" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>


    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="icon"></div>
        </div>

        <!-- Main Header -->
        <header class="main-header header-style-four">

            <!-- Header Upper -->
            <div class="header-main-box">
                <div class="header-upper">
                    <div class="auto-container">
                        <div class="inner clearfix">
                            <!--Logo-->
                            {% comment %} <div class="logo-box">
                                <div class="logo"><a href="index.html" title="Swaadsadan"><img
                                            src="static\food\images\icons\logo1.svg" alt="Swaadsadan"
                                            title="Swaadsadan"></a></div>
                            </div> {% endcomment %}

                            <!--Social-->
                            {% comment %} <div class="social">
                                <ul class="social-links clearfix">
                                    <li> 
                                        <a href="/cartView" style="color:black;">cart
                                        <span class="badge badge-info">{{request.items.quantity.keys}}</span>
                                        <span class="sr-only">(current)</span></span></a>
                                    </li>

                                </ul>
                            </div> {% endcomment %}

                            <div class="nav-outer clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span>                            
                                </div>
                   

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li><a href="/authentic" style="color:black;">Authentic Food</a>

                                            </li>
                                            <li class="dropdown"><a href="about.html" style="color:black;" >Restaurants</a>
                                            </li>

                                            <li class="dropdown">
                                                <a href="/restaurantLogin" style="color:black;">Add Restaurant</a>
                                            </li>
                                            <li class="dropdown">
                                                {% if user.is_authenticated %}
                                                <a href="/loggout" style="color:black;"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                                {% else %}
                                                <a href="/login" style="color:black;">Log in</a>

                                                {% endif %}
                                            </li>
                                            <li class="dropdown">
                                                {% if user.is_authenticated %}
                                                <a href="/cartView" style="color:black;"><i class="fa-solid fa-cart-shopping"></i></a>
                                                {% endif %}
                                            </li>  
                                            <li class="dropdown">
                                                {% if user.is_authenticated %}
                                                <a href="/profile" style="color:black;"><i class="fa-solid fa-user"></i></a>                                              
                                                {% else %}
                                              

                                                {% endif %}
                                            </li>                
                                               
                                            <li class="dropdown">
                                                {% if user.is_authenticated %}
                                                <a href="/order" style="color:black;"><i class="fa-solid fa-clock-rotate-left"></i></a>
                                                {% else %}
                                              

                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="static/food/images/icons/logo1.svg" alt="fyfyufy" title="" style="height:50px"></a>
                    </div>
                    <!--Right Col-->
                    <div class="pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav><!-- Main Menu End-->
                    </div>
                </div>
            </div><!-- End Sticky Menu -->

            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-cancel"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="/index"><img src="{% static 'food/images/icons/logo1.svg' %}" alt="" title=""></a></div>
                    <div class="menu-outer">
                        {% comment %} Here Menu Will Come Automatically Via Javascript / Same Menu as in Header {% endcomment %}
                    </div>
                    <!-- Social Links -->
                    {% comment %} <div class="social-links">
                        <ul class="clearfix">
                            <li>
                                <a href="/cartView" style="color:black;">cart
                                <span class="badge badge-info">{{request.items.quantity.keys}}</span>
                                <span class="sr-only">(current)</span></span></a></li>

                        </ul>
                    </div> {% endcomment %}
                </nav>
            </div>
        </header>


        
        <div>
            {% block content %}{% endblock content %}
        </div>





        <footer class="main-footer footer-style-four" >

          

            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="footer-column col-lg-3 col-md-5 col-sm-12" style="float: right;">
                            <div class="footer-widget info-widget" >
                                <div class="widget-title">
                                    <h3>Contact Us</h3>
                                </div>
                                <div class="info">
                                    <!--Info Block-->
                                    <div class="info-block">
                                        <div class="icon-box">
                                            <span class="icon">
                                                <img src="{% static 'food/images/icons/icon-message-1.png' %}" alt="">
                                            </span>
                                        </div>
                                        <strong>Visit The Office</strong>
                                        <div class="text">2-39, Pratham Square, Sahakari Jin Road, Himmatnagar,Gujarat-383001</div>
                                    </div>
                                    <!--Info Block-->
                                    <div class="info-block">
                                        <div class="icon-box">
                                            <span class="icon">
                                                <img src="{% static 'food/images/icons/icon-call-1.png' %}" alt="">
                                            </span>
                                        </div>
                                        <strong>Phone Inquiry</strong>
                                        <div class="text">
                                            <a href="#" style="color:white;">+91 9023267933</a>
                                        </div>
                                    </div>
                                    <!--Info Block-->
                                    <div class="info-block">
                                        <div class="icon-box">
                                            <span class="icon">
                                                <img src="{% static 'food/images/icons/icon-mail-1.png' %}" alt="">
                                            </span>
                                        </div>
                                        <strong>Send Email</strong>
                                        <div class="text" >
                                            <a href="info@4itsol.com" style="color:white;">info@4itsol.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="big-column col-lg-6 col-md-7 col-sm-12">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-title">
                                            <h3>Payent Methods</h3>
                                        </div>
                                        <div class="widget-content" style="justify-content: space-between;">
                                           <img src="{% static 'food/images/visa.jpg' %}" alt="" style="width: 50px;height: 39px;border-radius: 7px;">
                                           <img src="{% static 'food/images/paytm.jpg' %}" alt="" style="width: 50px;height: 39px;border-radius: 7px;">
                                           <img src="{% static 'food/images/gpay.jpg' %}" alt="" style="width: 50px;height: 39px;border-radius: 7px;">
                                           <img src="{% static 'food/images/mastercard.webp' %}" style="width: 50px;height: 39px;border-radius: 7px;">
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12" >
                                    <div class="footer-widget links-widget" style="float:left;">
                                        <div class="widget-title">
                                            <h3>Our Services</h3>
                                        </div>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="#">Fast food delivery</a></li>
                                                <li><a href="#">Authentic food test</a></li>
                                                <li><a href="#">Best quality food</a></li>
                                                <li><a href="#">Custmized food</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="footer-column col-lg-3 col-md-6 col-sm-12" >
                            <div class="footer-widget links-widget" style="float:left;">
                                <div class="widget-title">
                                    <h3>Useful Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">

                    <div class="inner clearfix">
                        <!--Scroll to top-->
                        <div class="scroll-top-footer scroll-to-target" data-target="html"><span
                                class="flaticon-arrows"></span></div>
                        <!--Copyright-->
                        <div class="center" style="text-align: center;">(c) 2022 <a href="#">4 IT Solutions</a> Company. All rights reserved.
                        </div>
                        
                    
                    </div>

                </div>
            </div>

        </footer>
    </div>

    {% block script %}
    
    {% endblock script %}
    
     
    
    <script src="{% static 'food/js/popper.min.js' %}"></script>
    
    <script src="{% static 'food/js/jquery-ui.js' %}"></script>
    <script src="{% static 'food/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'food/js/owl.js' %}"></script>
    <script src="{% static 'food/js/appear.js' %}"></script>
    <script src="{% static 'food/js/wow.js' %}"></script>
    <script src="{% static 'food/js/scrollbar.js' %}"></script>
    <script src="{% static 'food/js/mixitup.js' %}"></script>
    <script src="{% static 'food/js/paroller.js' %}"></script>
    <script src="{% static 'food/js/element-in-view.js' %}"></script>
    <script src="{% static 'food/js/custom-script.js' %}"></script>
    {% comment %} <script src="{% static 'food/js/checkout.js' %}"></script> {% endcomment %}





</body>

</html>
