{% extends 'food/base.html' %}
{% load static %}
{% static 'images' as baseURL %}
    {% block title %}Swaad Sadan-Cart{% endblock title %}
    <link rel="stylesheet" href="{% static 'food/css/bootstrap-5.css' %}">  

 {% block content %}
<style>

    body {
    background: white;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold
}

.title {
    margin-bottom: 5vh
}

.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0;
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    width: 3.5rem
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    {% comment %} border: 1px solid rgba(0, 0, 0, 0.137); {% endcomment %}
    padding: 0vh;
    margin-bottom: 1vh;
    outline: none;
    width: 11%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    /* -webkit-user-select: none; */
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
#qtybtn{
    width: 25px;
    height: 100px;
    margin-left: 10px;
    margin-right: 5px;
}
.qty{
   min-width: 100px;
   padding:3px 10px; 

} 
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% if user.is_superuser %}
    <h1 class="jumbotron my-3">You Are Not Allowed Here!</h1>
{% else %}
{% if user.is_authenticated %}

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        {% if status %}
                        <h4>{{status}}</h4>
                        {% else %}
                        <h4><b>Shopping Cart</b></h4>
                        {% endif %}
                    </div>
                    <div class="col align-self-center text-right text-muted" id="quantity">3 items</div>
                </div>
            </div>
            {% if msz %}
            <div class="{{cls}}">{{msz}}</div>
            {% endif %}
            {% for i in items %}
            <div class="row">
                <div class="row main align-items-center" id="row{{i.id}}">
                    <div class="col-2"><img class="img-fluid" src="/media/{{i.product.img}}" alt='img' style="height: 100%;width: 100%;"></div>
                    <div class="col">
                        <div class="row text-muted">{{i.product.name}}</div>
                        <div class="row">{{i.product.desc}}</div>
                    </div>
                    <div class="col"> <button onclick="change_quan('{{i.id}}','minus')" style="width:15px; margin:5px;">-</button><input type="tail" value="{{i.quantity}}" id="cart{{i.id}}" style="text:center"><button  onclick="change_quan('{{i.id}}','plus')" style="width:15px; margin:5px;">+</button></div>
                    <div class="col">&#8377; <span>{{i.product.price}}</span> <button onclick="remove_cart('{{i.id}}')" class="close">&#10005;</button></div>
                </div>
            </div>
            {% endfor %}
                <div class="back-to-shop"><a href="/authentic">&leftarrow;</a><span class="text-muted">Back to Menu</span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">SUBTOTAL</div>
                        <div class="col text-right" id="item_total"></div>
                    </div>
                    <form>
                        <p>SHIPPING</p> 
                            <p class="text-muted" id="delivery-amount">Standard-Delivery- &#8377;20</p>
                        
                        <p>GIVE CODE</p> <p id="code" placeholder="Enter your code"></p>
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right" id="grand_total" >&#8377;</div>
                    </div> <button class="btn">CHECKOUT</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            function grandTotal(){
                $.ajax({
                    url:"{% url 'get_cart_data' %}",
                    type:"get",
                    success:function(data){
                        $("#item_total").html("&#8377;"+data.total);
                        $("#quantity").html(data.quan+" Items");
                        $("#grand_total").html("&#8377;"+(20+data.total)); 
                    }
                })
            }
            grandTotal()
            
            function change_quan(id,action){
                let old = $('#cart'+id).val();
                quan = 0
                if(action=='plus'){
                    quan += parseInt(old)+1
                }else{
                    quan += parseInt(old)-1
                }
                $('#cart'+id).val(quan);
                
                $.ajax({
                    url:"{% url 'change_quan' %}",
                    type:"get",
                    data:{cid:id, quantity:quan},
                    success:function(data){
                        grandTotal();
                        if(data==0){
                            remove_cart(id);
                        }
                    }
                })
                
                
            }
            
            function remove_cart(id){
                $.ajax({
                    url:"{% url 'change_quan' %}",
                    data:{delete_cart:id},
                    success:function(data){
                        grand_total();
                        $("#row"+id).hide();
                    }
                })
            }
            
            
        </script>

        
        {% endif %}
        {% endif %}
        {% endblock %}