{% extends 'food/based.html' %}
{% load static %}
    {% block title %}Swaad Sadan-reset password{% endblock title %}
    
    {% block content %}
<section class="vh-100" style="background-color: grey;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3 style="text-align: center;" ><i class="fa-solid fa-unlock fa-4x"></i></h3>
              <h1 class="mb-5">New password?</h1> <hr> <strong><p>You Can Enter Your New Password.</p></strong> 
              <form method="post">
                {% csrf_token %}

                <div class="form-outline mb-4">
                  {% comment %} <input  type="email" id="typePasswordX-2" class="form-control form-control-lg" placeholder="New Password" /> {% endcomment %}
                  {% comment %} {{ form.new_password1 }} {% endcomment %}
                  <br>
                  {% comment %} <input  type="email" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Cofirm Password" /> {% endcomment %}
                  {% comment %} {{ form.new_password2 }} {% endcomment %}
                </div>
                <button class="btn btn-danger btn-lg btn-block" type="submit">Done</button>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
