{% extends 'food/based.html' %}

    {% block title %}Swaad Sadan-reset password{% endblock title %}
    
    {% block content %}
<section class="vh-100" style="background-color: grey;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3 ><i class="fa fa-lock fa-4x"></i></h3>
              <h1 class="mb-5">Forgot password?</h1> <hr> <strong><p>You Can Reset Your Password Here.</p></strong> 
              <form method="post">
                {% csrf_token %}
                
                <div class="form-outline mb-4">
                   {% comment %} {{ form.email }} {% endcomment %}
                  {% comment %} <input  type="email" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Email Address" /> {% endcomment %}
                </div>
                <button class="btn btn-danger btn-lg btn-block" type="submit">Sent Mail</button>  
    
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
