{% extends 'food/base.html' %}
{% load static %}

<title>swaad sadan - register page</title>
<link rel="stylesheet" href="{% static 'food/css/bootstrap-5.css' %}">

{% block content %}
<br>
<br>
<br>
<br>
<br>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="{% static 'food/images/restaurants.png' %}"
                            class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form action="/restaurantReg/" method="POST">
                            {% csrf_token %}
                           
                            <h1>Register</h1>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Restaurant Name:</label>
                                <input type="" id="rname" name="rname" class="form-control form-control-lg"

                                    placeholder="Restaurant Name" />

                            </div>
    
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">Restaurant Email:</label>
                                <input type="email" id="rmail" name="rmail" class="form-control form-control-lg"

                                    placeholder="" />

                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">phone number:</label>
                                <input type="tel" id="pnum" name="pnum" class="form-control form-control-lg"
                                    placeholder="" />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">Password:</label>
                                <input type="password" id="pass1" name="pass1" class="form-control form-control-lg"
                                    />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">Confirm Password:</label>
                                <input type="password" id="pass2" name="pass2" class="form-control form-control-lg"
                                    />
                            </div>
    
                           
    
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>

                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
            
            
        </section>
        <script src="js/bootstrap-5.min.js"></script>
    
{% endblock %}