{% extends 'food/based.html' %}
{% load static %}
    {% block title %}Swaad Sadan-Login{% endblock title %}
    <link rel="stylesheet" href="{% static 'food/css/bootstrap-5.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">


    {% block content %}
    <style>
.container{
    position: relative;
    padding:30px 30px 30px 30px;
    
}
.jumbotron{
        position: relative;
        padding:2rem;
        margin-top:38px;
        border-radius:25px;
        background-color:white;         
        color:black;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        font-family: 'Kanit', sans-serif;
        background-color:whitesmoke;
    }

body{
    background-color: #9AA5B2;
}
html {
    height: 100%;
  }
.form-control-lg{
      border-radius:12px;
      border:2px solid #9AA5B2;
  }

  

    </style>
    <br>
    <br>
    <div class="container">
        
        <div class="jumbotron" >
            <section class="vh-10">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'food/images/restaurants-2.svg' %}"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" action="/login/">
                        {% csrf_token %}
                        
                        <h1>Login</h1>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                        <label class="form-label" for="username">Restaurants Username</label>
                            <input type="" id="loginusername" name="loginusername" class="form-control form-control-lg"
                            placeholder="Enter a valid Username"  value="" />
                        </div>
                        
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                         <label class="form-label" for="pass1">Password</label>
                            <input type="password" id="loginpass1" name="loginpass1" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        </div>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="/index" class="text-body">Forgot password?</a>
                        </div>
                        
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-dark btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius:16px;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/restaurantReg"
                                class="link-danger">Register</a></p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        
        
    </section>
</div>
</div>
<script src="{% static 'food/js/bootstrap-5.min.js' %}"></script>
 {% endblock content %}
